body {
    width: 90%;
    margin: 0 auto;
    font: normal .9em/1.5em Arial, Helvetica, sans-serif;
    background: #ebebeb;
    min-width: 600px;
    color: rgba(0, 0, 0, .8);
}

body.view_chart, body.select_data {
    background-color: lightsteelblue
}
body.upload {
    background-color: darkseagreen;
}

h1 {
    font-size: 1.5em;
    
    text-align: center;
    margin: .5em auto 0;
}
p {
    text-align: center;
    font-size: 1em;
    margin: .5em auto 2em;
    width: 100%;
    max-width: 900px;
}
td, tr, th {
    text-align: center;
    border: grey solid 1px;
    font-size: 0.9em;
    padding: 0.5em;
}

table {
    margin: 0 auto;
    border: grey solid 1px;
    max-width: 900px;
}


div {
    text-align: center;
    /*margin: .5em 1.5em;*/
}
div.tableBlock {
    border-top: 1px solid slategrey;
}


.error {
    color: red;
    text-align: center;
}

#curve_chart {
    width: 1000px;
    height: 550px;
    margin: 0 auto;
}

/***** BUTTONS *****/
button {
    /*margin: 1em 2em;*/
}
.addRow, .delRow {
    margin: 2em 4em 1em;
}
#newChart, #newUpload {
    margin: 1em 5em;
}
/*
.addTable, .delTable {
    margin: 2em 4em 2em;
}
*/
#sameDate {
    margin: 0em;
    font-size: .5em;
}

/***** INPUTS *****/
input {
    /*margin-left: 0.8em;*/
    /*margin-right: 0em;*/
}
.datalist {
    margin: 0 1em;
}

input[type='radio'] {
    margin-right: 0.3em;
}
input.chart, input.upload {
    /*margin: 2em 5em 1em;*/
/*}*/
/*input.upload{*/
    margin: 1em 0 4em 0;
}
#selectAll { /*checkbox*/
/*    margin: 0 0.5em;;*/
}

/***** LABELS *****/
.tooltip label {
    font-weight: normal;
    font-size: .8em;
}

.moreSpace {
    margin: .5em 0;
    content: '.';
    display: block;
}


div.input-group {
    width: 100%;
    margin: 1em auto;
}
div.input {
    border-radius: 1.6em;
    -webkit-border-radius: 1.6em;
    -moz-border-radius: 1.6em;

    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    padding: 0.4em 1.5em;
    background: #7d7d7d url(../images/gradient.png) repeat-x 0 -110px;

    font-weight: bold;
    color: #e7e5e5;

    display: inline-block;

}
div.input input {
    border: none;
    margin: 0 auto;
    padding: 0;
    font-size: 1em;
}
div.input-group :hover {
    background: #666 url(../images/gradient.png) repeat-x 0 -40px;
    color: #444;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}







footer {
    color: darkslategrey;
    text-align: right;
    font-size: 0.8em;
    font-style: italic;
    margin: 4em 1em 0 0;
    font-variant: caption;
    font-weight: bold;
}

/***************************************/
.box{
    font-size: 12px;
    width:20px;
    height: 20px;
    float: left;
    /*outline:1px solid #fff;
    margin: 2em;*/
    padding: .3em;
}


