body {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: 0 auto;
}
body.view_chart, body.select_data {
    background-color: lightsteelblue
}
body.upload {
    background-color: darkseagreen;
}

h1, h2, h3, p {
    text-align: center;
}
p {
    text-align: center;
    font-size: 1em;
    margin: 2em auto;
    width: 100%;
    max-width: 900px;
}
td, tr, th {
    text-align: center;
    border: grey solid 1px;
    font-size: 0.9em;
    padding: 0.5em;
}

table {
    margin: 0 auto;
    border: grey solid 1px;
    max-width: 900px;
}


div {
    text-align: center;
    /*margin: .5em 1.5em;*/
}
div.tableBlock {
    border-top: 1px solid slategrey;
}


.error {
    color: red;
    text-align: center;
}

#curve_chart {
    width: 1000px;
    height: 550px;
    margin: 0 auto;
}

/***** BUTTONS *****/
button {
    /*margin: 1em 2em;*/
}
.addRow, .delRow {
    margin: 2em 4em 1em;
}
#newChart, #newUpload {
    margin: 1em 5em;
}
/*
.addTable, .delTable {
    margin: 2em 4em 2em;
}
*/
#sameDate {
    margin: 0em;
    font-size: .5em;
}

/***** INPUTS *****/
input {
    /*margin-left: 0.8em;*/
    /*margin-right: 0em;*/
}
.datalist {
    margin: 0 1em;
}

input[type='radio'] {
    margin-right: 0.3em;
}
input.chart, input.upload {
    /*margin: 2em 5em 1em;*/
/*}*/
/*input.upload{*/
    margin: 1em 0 4em 0;
}
#selectAll { /*checkbox*/
/*    margin: 0 0.5em;;*/
}

/***** LABELS *****/
.tooltip label {
    font-weight: normal;
    font-size: .8em;
}

.moreSpace {
    margin: .5em 0em;
    content: '.';
    display: block;
}


footer {
    color: darkslategrey;
    text-align: right;
    font-size: 0.8em;
    font-style: italic;
    margin: 4em 1em 0 0;
    font-variant: caption;
    font-weight: bold;
}

/***************************************/
.box{
    font-size: 12px;
    width:20px;
    height: 20px;
    float: left;
    /*outline:1px solid #fff;
    margin: 2em;*/
    padding: .3em;
}


