body.chart_page {
    background-color: lightsteelblue
}
body.upload {
    background-color: darkseagreen;
}

h1, h2, h3 {
    text-align: center;
}

td, tr, th {
    text-align: center;
    border: grey solid 1px;
}

table {
    margin: 0 auto;
    border: grey solid 1px;
}

div {
    text-align: center;
    margin: 1em 1.5em;
}

/*div.style { margin:0; padding: 0; }*/
.error {
    color: red;
    text-align: center;
}

#curve_chart {
    /*
    width: 1200px;
    height: 700px;
    */
    width: 80%;
    height: 500px;
    margin: 0;
}

button {
    margin: 1em 4em;
}

input {
    margin-left: 1em;
}
.datalist {
    margin: 0 1em;
}

#selectAll {
    margin: 0 0.5em;;
}
label.sameType {
    font-weight: normal;
    font-size: .8em;
}

/*tooltip select all*/
/* from   http://www.menucool.com/tooltip/css-tooltip  */
div.tooltip { outline:none; margin: inherit;}
div.tooltip span {
    z-index:1;
    display:none;
    padding:0.2em;
    margin-top:1.3em;
    margin-left:-5.8em;
    font-weight: normal;
    font-size: .8em;
}
div.tooltip:hover span {
    display:inline;
    position:absolute;
    color:darkgreen;
    border: 1px solid darkgreen;
    background: darkseagreen;
}

/*CSS3 extras*/
div.tooltip span {
    border-radius:2px;
    box-shadow: 1px 1px 1px #CCC;
}


/*button.newChart {
    margin: 4em;
}
.new { position: relative; left: 17em; top: 2em; }
button.addRow { color:blue;}

div { text-align:center; margin: 2em; }
.error { color:red; }*/


